{
    "arrowParens": "always",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5"
}
